@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  input,
  textarea,
  select {
    @apply bg-white text-gray-900 dark:bg-[#1f252b] dark:text-gray-100;
  }
}